/bootstrap/cache/
/bootstrap/*.php
/node_modules
/public/upload
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
storage
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history
/storage/dotenv-editor
/stubs
installation.json
fzip.li.dic
_log.dic.xml
.migration
.env
.env.example



